/* BEGIN Bold */
@font-face {
	font-family: ProximaNova;
	@include fontdef-woff($FontPath, $ProximaNovaFont, $FontVersion, "Bold");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: ACaslonPro;
	@include fontdef-woff($FontPath, $ACaslonPro_fonts, $FontVersion, "Bold");
	font-weight: 700;
	font-style: normal;
}

/* END Bold */
