.footer-menu .widget-title {
    display: none;
}

.footer-right ul li a {
    font-size: 12px;
    font-family: "Helvetica";
    color: #000000;
}

.footer-right ul li a:hover,
.footer-right ul li a:focus {
    color: #000000;
    text-decoration: underline;
}

.form-control,
.submit-btn {
    font-family: "ProximaNova";
}

.newslatter-form .btn-outer {
    bottom: 6px;
    right: -24px;
}

span.wpcf7-not-valid-tip {
    position: absolute;
    font-size: 14px;
    width: 300px;
    text-align: left;
    bottom: -23px;
    font-family: "ProximaNova";
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7-mail-sent-ok {
    display: block;
    font-size: 16px;
    background: #ff0000;
    border-color: #ff0000;
    padding: 5px 10px;
    color: #fff;
    position: absolute;
    left: 15px;
    margin: 0;
    bottom: -50px;
    font-family: "ProximaNova";
}

div.wpcf7-mail-sent-ok {
    border-color: #398f14;
    background-color: #398f14;
}

.custom-accordian .panel .panel-body h2 {
    text-align: left;
}

.blog-cards {
    padding-bottom: 35px;
}

.blog-cards.limite-th .col-sm-4 {
    display: none;
}

.blog-cards.limite-th .col-sm-4:nth-child(1),
.blog-cards.limite-th .col-sm-4:nth-child(2),
.blog-cards.limite-th .col-sm-4:nth-child(3) {
    display: block;
}

.blog-cards .card a.btn {
    position: relative;
    padding: 3px 0;
}

.blog-cards .card a.btn:before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #000;
    left: 0;
    bottom: 0;
    transition: 0.25s ease-in-out;
}

.blog-cards .card a.btn:hover {
    text-decoration: none;
}

.blog-cards .card a.btn:hover:before {
    width: 100%;
}

.remove_hover:before {
    width: 0 !important;
}

/*error page css*/
.error-page-banner .container {
    min-height: 300px;
}

.error-page {
    background-color: #ffffff;
    position: relative;
}

.error-page .error-right {
    position: absolute;
    right: 0;
    top: 0;
    max-height: 400px;
    height: 100%;
    opacity: 0.1;
}

.message-box h1,
.message-box h2 {
    font-family: inherit;
}

.error-page .message-box {
    max-width: 950px;
    padding: 80px 30px;
    margin: auto;
    background-color: #ffffff;
    -webkit-box-shadow: 3px 6px 21px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 6px 21px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin: 0 15px;
}

.error-page .message-box h1 {
    color: #ae9b63;
    font-size: 60px;
    margin-bottom: 0;
}

.error-page .message-box .btn-outer {
    padding-top: 10px;
}

.search-page-box .search-outer {
    position: inherit;
    padding: 50px 0 0;
}

.banner-cta .content h3 a {
    color: #fff;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.banner-cta .content h3 a:hover {
    text-decoration: underline;
}

.link-btn {
    position: relative;
    display: inline-block;
    padding: 3px 0;
}

.link-btn:before,
.course-listing .media.course-item .media-body a.submit-btn:before,
.wysiwyg-block .content.blog-detail ul.taglist li a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #000;
    left: 0;
    bottom: 0;
    transition: 0.25s ease-in-out;
}

.wysiwyg-block .content.blog-detail ul.taglist li a:before {
    background-color: #6c6c6c;
}

.course-listing .media.course-item .media-body a.submit-btn:hover {
    text-decoration: none;
}

.link-btn:hover:before,
.course-listing .media.course-item .media-body a.submit-btn:hover:before,
.wysiwyg-block .content.blog-detail ul.taglist li a:hover:before {
    width: 100%;
}

.pagination-outer .pagination a.page-numbers {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.pagination-outer .pagination a.page-numbers:hover {
    color: #6c6c6c;
    text-decoration: underline;
}

.footer-menu li a:hover,
.social-list li a:hover i {
    color: #6c6c6c;
}

.wysiwyg-block .content.blog-detail ul.taglist {
    padding: 0;
}

.wysiwyg-block .content.blog-detail ul.taglist li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.wysiwyg-block .content.blog-detail ul.taglist li a {
    color: #6c6c6c;
    padding-bottom: 2px;
    position: relative;
}

.wysiwyg-block .content.blog-detail ul.taglist li:before {
    display: none;
}

.checkbox-container.clicked {
    color: #6c6c6c;
}

.checkbox-container.clicked .checkmark:after {
    color: #000;
}

.checkbox-container.clicked:hover {
    color: #fff;
}

.checkbox-container.clicked:hover .checkmark:after {
    color: #fff;
}

.selected-text,
.selected-text.last {
    display: none;
}

.selected-text b {
    font-weight: 300;
    margin-right: 5px;
}

.bdf {
    border-color: #cbcbcb;
}

.dropdown.open {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: inset 0 0 0 1px #cbcbcb;
}

/*.dropdown.open:before{
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    right: 0;
    top:0;
    background-color: #cbcbcb;
    }*/
    .dropdown .dropdown-style {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 1px solid #cbcbcb;
        border-top: none;
        margin-top: -1px;
    }

    .course-listing .media.course-item:hover .media-body a.submit-btn:before {
        width: 100%;
    }

    .contact-form .field-outer textarea {
        height: 120px;
    }

    .contact-form form {
        position: relative;
    }

    .contact-form div.wpcf7-validation-errors {
        position: absolute;
        bottom: 0;
        left: 40px;
    }

/*  .contact-form form span.wpcf7-not-valid-tip[role="alert"]{
     font-style: italic;
     right: 0;
     width: 300px;
     text-align: left;
     position: absolute!important;
     }*/

     .contact-form .submit-outer .ajax-loader {
        position: absolute;
        top: 5px;
    }

    .cta-section h2,
    .cta-section .h2 {
        text-transform: capitalize;
    }

    .thankyou-div {
        display: none;
        color: #398f14;
    }

    textarea {
        resize: none;
    }

    .slider-sec .single-img .bg-img {
        min-height: 570px;
    }

    .only-image .slick-track,
    .only-image .slick-track .bg-img {
        width: 100% !important;
    }

    .only-image .slick-dots {
        display: none;
    }

    .slick-slide {
        outline: none;
    }

    .slider-sec.first-slide .slider .slick-track,
    .slider-sec.first-slide .slider .slick-track .bg-img {
        width: 100% !important;
    }

    .slider-sec.first-slide .slick-dots {
        display: none;
    }

    .dropdown .dropdown-style li.filter-btns {
        padding: 10px 18px;
    }

    .dropdown .dropdown-style li button {
        display: inline-block;
        width: 49%;
        font-size: 16px;
        text-transform: uppercase;
        color: #000;
        background: 0 0;
        box-shadow: none;
        border: none;
        text-align: left;
        padding: 5px 0;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
        outline: 0;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .dropdown .dropdown-style li button:hover,
    .taglist-outer .tag-list li:hover {
        text-decoration: underline;
    }

    .dropdown .dropdown-style li button.right-btn {
        border-left: 1px solid #000;
        padding-left: 25px;
    }

    .a2a_kit .a2a_svg {
        background-color: transparent !important;
    }

    .addtoany_list.a2a_kit_size_32 a:not(.addtoany_special_service)>span {
        width: 26px !important;
        height: 26px !important;
    }

    .addtoany_share_save.addtoany_share {
        display: none !important;
    }

    .newslatter-sec div.wpcf7-validation-errors,
    .newslatter-sec div.wpcf7-acceptance-missing,
    .newslatter-sec div.wpcf7-mail-sent-ok {
        bottom: -65px;
    }

    .blog-cards .card {
        margin-bottom: 35px;
    }

    .course-single {
        padding-top: 75px;
    }

    .course-single h2 {
        font-weight: 600;
    }
    .newslatter-sec.block,
    .cta-section.block{
        display: block!important;
    }

    /*18/07/19*/
    .single-promo .content .btn-outer,
    .half-block .content .btn-outer{
        padding-top:20px;
    }
    .blog-cards .card{
        padding-bottom: 35px;
    }
    .blog-cards .card .btn-outer a{
        margin-bottom: 5px;
    }
    .blog-cards .card .btn-outer{
        min-height: 70px;
    }
    .blog-cards .card.course:hover a.btn:before{
        /*width: 0;*/
    }
    .blog-cards .card a.btn{

    }
    .blog-cards .card a.btn:hover:before,
    .blog-cards .card.course a.btn:hover:before{
        width: 100%;
    } 


    @media(min-width: 767px) {
        .newslatter-form .form-control {
            padding-right: 98px;
        }

        .blog-listing li .item-inner:hover .blog-content h4,
        .blog-listing-hero .blog-item .blog-item-inner:hover .blog-content h4 {
            text-decoration: underline;
        }
        .half-block.image-left .bg-img{
            left: 0;
            right: inherit;
        }
        .half-block.image-left .right{
            float: right;
        }
    }

    @media(max-width: 992px) {
        .footer-right ul li a {
            color: #484848;
        }

        .error-page .message-box {
            padding: 50px 0;
        }

        .contact-form div.wpcf7-validation-errors {
            left: 10px;
        }
        .blog-cards .card h3,
        .blog-cards .card .btn-outer{
            height: auto;
            min-height: auto;
        }
        .blog-cards .card{
            max-width: 480px;
            margin:0 auto 15px; 
        }
        .blog-cards .card .category{
            margin-bottom: 30px;
        }

    }

    @media(max-width: 767px) {
        .newslatter-form .btn-outer {
            right: 0;
        }

        div.wpcf7-validation-errors,
        div.wpcf7-acceptance-missing,
        span.wpcf7-not-valid-tip,
        div.wpcf7-mail-sent-ok {
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 450px;
            font-size: 14px;
        }

        span.wpcf7-not-valid-tip {
            width: 300px;
            text-align: center;
        }

        .custom-accordian .panel .panel-body h2 {
            font-size: 18px;
        }

        .error-page .error-right {
            display: none;
        }

        .contact-form div.wpcf7-validation-errors {
            position: inherit;
            bottom: 0;
            left: 0;
            transform: none;
            max-width: 100%;
        }

        .contact-form form span.wpcf7-not-valid-tip {
            width: 100%;
            left: inherit;
            display: block;
            transform: none;
            position: inherit;
            text-align: right;
            max-width: 100%;
        }

        .contact-form .field-outer {
            height: 50px;
        }

        .cta-section .cta-outer a {
            font-size: 30px;
        }

        .course-single {
            padding-top: 50px;
        }
        .wysiwyg-block .content p,
        ul.custom li,
        .wysiwyg-block ul li,
        ol li {
            font-size: 16px;
            line-height: 24px;
        }
    }

    @media(max-width: 480px) {

        div.wpcf7-validation-errors,
        div.wpcf7-acceptance-missing {
            max-width: 300px;
        }
        .blog-cards .card {
            padding: 35px 25px;
        }
    }