.wrapper {
    padding: 25px 10px;
}
small {
    color: $textSecondary;
    font-size: $font-size-small;
}

.a-link {
    font-weight: 400;
}
.user-thumb {
    display: inline-block;
    position: relative;
} 
