.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 30px 0;
  @include transition(all 0.25s);

  a.brand-logo {
    position: relative;
    height: 91px;
    display: block;

    img {
      @include transition(all 0.25s ease);
      position: absolute;
      z-index: 1;

      &.img-black {
        display: none;
      }
    }
  }

  .trigger-outer {
    @include size(40px, 32px);
    position: relative;
    margin-left: auto;
    cursor: pointer;

    .trigger-btn {
      display: block;
      @include size(40px, 3px);
      background-color: $white;
      position: relative;

      @media(max-width: $screen-sm-min) {
        background-color: $black;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        @include size(60%, 3px);
        background-color: $white;
        right: 0;

        @media(max-width: $screen-sm-min) {
          background-color: $black;
        }
      }

      &:before {
        top: -12px;
      }

      &:after {
        bottom: -12px;
      }
    }
  }

  &.dark-bg {
    background-color: $white;
    @include transition(all 0.25s ease);
    padding: 15px 0;
    @include box-shadow(7px 7px 14px rgba(103, 103, 130, 0.1));

    a.brand-logo {
      height: 65px;

      img {
        max-width: 120px;
        @include transition(all 0.25s ease);

        &.img-white {
          display: none;
        }

        &.img-black {
          display: block;
        }
      }
    }

    .trigger-btn {
      background-color: $black;

      &:before,
      &:after {
        background-color: $black;
      }
    }
  }

  @media(max-width: $screen-sm-min) {
    background-color: $white;
    @include transition(all 0.25s ease);
    padding: 15px 0;
    @include box-shadow(7px 7px 14px rgba(103, 103, 130, 0.1));

    a.brand-logo {
      height: 65px;

      img {
        max-width: 120px;
        @include transition(all 0.25s ease);

        &.img-white {
          display: none;
        }

        &.img-black {
          display: block;
        }
      }
    }
  }
}

// navigation-outer
.navigation-outer {
  position: fixed;
  @include square(100%);
  max-width: 655px;
  background-color: $white;
  z-index: 999;
  padding: 90px 50px 50px 85px;
  @include box-shadow(-12px 3px 59px rgba(0, 0, 0, 0.10));
  @include transition(all 0.40s ease-in-out);
  right: -656px;
  visibility: hidden;

  &.active {
    right: 0;
    visibility: visible;
  }

  .close-btn {
    position: absolute;
    right: 50px;
    top: 55px;

    i {
      color: #201B20;
      font-size: 32px;
      font-weight: $semibold;
    }
  }

  .back-btn {
    position: absolute;
    left: 0;
    top: 57px;
    font-size: $font-md;
    color: $black;
    font-weight: $semibold;
    @include opacity(0);
    visibility: hidden;
    @include transition(all 0.25s ease-in-out);

    &.slide-to-left {
      @include transition(all 0.25s ease-in-out);
      visibility: visible;
      left: 85px;
      @include opacity(1);
    }

    i {
      color: $black;
      font-size: 12px;
      margin-right: 6px;
      font-weight: $semibold;
    }
  }

  @media(max-width: $screen-sm-min) {
    padding: 50px 30px 50px 50px;

    .close-btn {
      right: 30px;
      top: 30px;

      i {
        font-size: 20px;
      }
    }

    .back-btn {
      top: 27px;
      z-index: 3;

      &.slide-to-left {
        left: 30px;
      }
    }
  }

  ul {
    padding: 50px 0;
    position: relative;
    @media(max-width: $screen-sm-min) {
     padding: 30px 0;
   }

   li {
    display: block;

    a {
      font-size: 50px;
      color: $black;
      text-transform: capitalize;
      font-weight: $light;
      line-height: 76px;
      padding: 10px 0;
      position: relative;
      display: block;
      text-shadow: 0 0 0 $black;
      cursor: pointer;

      &:before,
      &:after {
        content: '\e906';
        position: absolute;
        font-family: $ft-icomoon;
        display: block;
        top: 9px;
        right: 0;
        color: #BEBEBE;
        @include transform(rotate(180deg));
        @include transition(all 0.25s ease-in-out);
        font-size: 26px;
        @include opacity(1);
        visibility: visible;
      }

      &:after {
        right: 30px;
        color: $black;
        @include opacity(0);
        visibility: hidden;
        font-size: 18px;
        @include transition(all 0.30s ease-in-out);
      }

      &:hover {
        &:before {
          right: -25px;
          @include opacity(0);
          visibility: hidden;
          font-size: 18px;
        }

        &:after {
          right: 0;
          @include opacity(1);
          visibility: visible;
          font-size: 26px;
        }
      }

      @media(max-width: 1600px) {
        font-size: 36px;
        line-height: 50px;
      }

      @media(max-width: $screen-sm-min) {
        font-size: 26px;
        line-height: 40px;
      }
    }

    ul.sub-menu {
      position: absolute;
      @include square(100%);
      background: $white;
      top: 0;
      right: -100%;
      visibility: hidden;
      @include transition(all 0.25s ease-in-out);

      &.slide-to-right {
        @include transition(all 0.25s ease-in-out);
        right: 0;
        visibility: visible;
        z-index: 1;
      }

      li {
        a {
          font-size: $font-md;
          line-height: 25px;
          text-shadow: 0 0 0 $black;
          font-weight: $regular;

          &:before {
            display: none;
          }
        }

        &:first-child {
          margin-bottom: 10px;

          a {
            font-size: 30px;
            line-height: 30px;
            font-weight: $light;
            @media(max-width: $screen-sm-min){
              font-size: 22px;
            }
          }
        }

        &.menu-item-has-children {
          width: 49%;
          display: inline-block;
          vertical-align: top;

          .sub-menu {
            position: inherit;
            padding: 0 0 10px;

            li {
              a {
                text-shadow: none;
                padding: 5px 0;
                font-weight: $light;
                @media(max-width: $screen-sm-min){
                  font-size: $font-sm;
                  line-height: 20px;
                }
              }

              &:first-child {
                margin-bottom: 0;

                a {
                  font-size: $font-md;
                  line-height: 25px;
                  padding: 5px 0;
                  @media(max-width: $screen-sm-min){
                    font-size: $font-sm;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}

.search-outer {
  position: absolute;
  bottom: 70px;
  padding: 0 50px 0 85px;
  width: 100%;
  left: 0;

  @media(max-width: $screen-sm-min) {
    padding: 0 30px 0 50px;
  }

  form {
    width: 100%;

    .search-field {
      position: relative;

      .search-input {
        @include size(100%, 54px);
        border: 1px solid #D3D3D3;
        padding: 10px 60px 10px 30px;
        position: relative;
        color: #525252;
        font-size: 21px;
        border-radius: 27px;
        display: block;
        cursor: pointer;

        &:focus {
          outline: none;
          box-shadow: none;
          border-color: $black;
        }
      }

      .search-action {
        right: 30px;
        @include square(20px);
        padding: 0;
        background: transparent;
        box-shadow: none;
        outline: none;
        border: none;

        i {
          color: $black;
          font-size: 20px;
          @include square(20px);
        }
      }
    }
  }
}
