// Home Hero Zone 
.hero-zone {
  min-height: 650px;
  position: relative;

  .bg-img {
    position: absolute;
    @include square(100%);
    left: 0;
    top: 0;
    background-image: url('../img/home-hero.jpg');
  }

  .container {
    height: 100vh;
    position: relative;

    @media(max-width: $screen-sm-min) {
      height: auto;
    }
  }

  h1 {
    padding-right: 37%;

    @media(max-width: $screen-sm-min) {
      padding-right: 20%;
    }
  }

  h1,
  .h1 {
    text-transform: $uppercase;
    color: $white;
    font-size: 65px;
    display: block;
    text-align: right;

    @media(max-width: $screen-sm-min) {
      font-size: 44px;
    }

    @media(max-width: $screen-xs-min) {
      font-size: 36px;
    }
  }

  .upper-content {
    width: 100%;

    @media(max-width: $screen-sm-min) {
      max-width: 450px;
      margin: 0 auto;
    }

    .bottom {
      position: relative;
      padding-right: 235px;

      .content {
        max-width: 200px;
        position: absolute;
        right: 0;
        top: 0;

        p {
          color: $white;
          font-size: $font-sm;
          line-height: 31px;
          font-weight: $light;
          font-family: $helvetica_fonts;
        }

        @media(max-width: $screen-sm-min) {
          position: inherit;
          top: 0;
          right: inherit;
          max-width: 100%;
          text-align: center;
          padding-top: 50px;
        }
      }

      @media(max-width: $screen-sm-min) {
        padding-right: 0;
      }
    }
  }


  .bottom-stripe {
    position: absolute;
    bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;

    .col-sm-4 {
      position: relative;
      padding: 0;

      &:before {
        content: '';
        position: absolute;
        @include size(1px, calc(100% - 10px));
        right: 0;
        background-color: rgba(255, 255, 255, 0.4);
        top: 5px;
      }

      &:last-child:before {
        display: none;
      }

      @media(max-width: $screen-sm-min) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);

        &:before {
          display: none;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    a {
      text-align: center;
      font-size: $font-md;
      padding: 20px 20px;
      display: block;
      color: $white;
      font-family: $proxima_font;
      text-transform: $uppercase;
      letter-spacing: 1.5px;
      position: relative;
        &:before {
          content: '';
          position: absolute;
          @include size(100%, 0);
          background-color: $white;
          @include opacity(0);
          visibility: hidden;
          bottom: 0;
          left: 0;
          @include transition(all 0.25s ease-in-out);
        }

      &:hover {
        &:before {
          @include opacity(1);
          visibility: visible;
          height: 4px;
          @include transition(all 0.25s ease-in-out);
        }
      }
    }

    @media(max-width: $screen-sm-min) {
      position: inherit;
      bottom: inherit;
      margin: 0;
      margin-top: 40px;
    }
  }

  @media(max-width: $screen-sm-min) {
    min-height: auto;
    padding: 100px 20px 75px;

    .v-center {
      position: inherit;
      top: 0;
      transform: none;
    }
  }

  &.home {
    @media(max-width: $screen-sm-min) {
      background-color: $hero_bg;

      .bg-img {
        height: 300px;
      }
    }
  }
}

// Home Hero Zone 

// Generic Hero Zone
.generic-landing {
  min-height: 100%;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    @include square(100%);
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(9, 2, 1, 0);
    background: -moz-radial-gradient(center, ellipse cover, rgba(9, 2, 1, 0) 0%, rgba(9, 2, 1, 0.06) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.38) 51%, rgba(0, 0, 0, 0.41) 54%, rgba(0, 0, 0, 0.54) 70%, rgba(0, 0, 0, 0.69) 85%, rgba(0, 0, 0, 0.83) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(9, 2, 1, 0)), color-stop(0%, rgba(9, 2, 1, 0.06)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(51%, rgba(0, 0, 0, 0.38)), color-stop(54%, rgba(0, 0, 0, 0.41)), color-stop(70%, rgba(0, 0, 0, 0.54)), color-stop(85%, rgba(0, 0, 0, 0.69)), color-stop(100%, rgba(0, 0, 0, 0.83)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(9, 2, 1, 0) 0%, rgba(9, 2, 1, 0.06) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.38) 51%, rgba(0, 0, 0, 0.41) 54%, rgba(0, 0, 0, 0.54) 70%, rgba(0, 0, 0, 0.69) 85%, rgba(0, 0, 0, 0.83) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(9, 2, 1, 0) 0%, rgba(9, 2, 1, 0.06) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.38) 51%, rgba(0, 0, 0, 0.41) 54%, rgba(0, 0, 0, 0.54) 70%, rgba(0, 0, 0, 0.69) 85%, rgba(0, 0, 0, 0.83) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(9, 2, 1, 0) 0%, rgba(9, 2, 1, 0.06) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.38) 51%, rgba(0, 0, 0, 0.41) 54%, rgba(0, 0, 0, 0.54) 70%, rgba(0, 0, 0, 0.69) 85%, rgba(0, 0, 0, 0.83) 100%);
    background: radial-gradient(ellipse at center, rgba(9, 2, 1, 0) 0%, rgba(9, 2, 1, 0.06) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.38) 51%, rgba(0, 0, 0, 0.41) 54%, rgba(0, 0, 0, 0.54) 70%, rgba(0, 0, 0, 0.69) 85%, rgba(0, 0, 0, 0.83) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#090201', endColorstr='#000000', GradientType=1);
  }

  .container {
    height: auto;
    min-height: 600px;
  }

  .content {
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 2;

    h1 {
      padding: 0;
      text-align: left;
      font-size: 45px;
      font-family: $ACaslonPro_fonts;
      text-transform: none;
      margin: 0;
      line-height: 58px;
    }

    &.details-page {
      h1 {
        text-transform: capitalize;
        padding-bottom: 30px;
        line-height: 51px;
      }

      ul.blog-info {
        padding-bottom: 20px;
        margin: 0;

        li {
          display: inline-block;
          padding: 0 10px;
          position: relative;

          &:first-child {
            padding-left: 0;
          }

          &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 16px;
            right: 0;
            top: 3px;
            background-color: $white;

            @media(max-width: $screen-sm-min) {
              background-color: $light_black;
            }
          }

          &:last-child {
            padding-right: 0;

            &:before {
              display: none;
            }
          }

          p {
            color: $white;
            text-transform: capitalize;
            font-size: $font-sm;

            @media(max-width: $screen-sm-min) {
              color: $light_black;
            }
          }
        }
      }
    }
  }

  @media(max-width: $screen-sm-min) {
    min-height: 100%;
    padding: 0 20px;

    .container {
      min-height: 580px;

      h1 {
        font-size: $heading2;
        line-height: 42px;
      }
    }
  }
}

ul.social-links {
  padding: 0;

  li {
    display: inline-block;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    a {
      @include square(16px);
      vertical-align: top;
      display: block;

      i {
        @include square(16px);
        color: $white;
        font-size: $font-sm;
        @include transition(all 0.25s ease-in-out);
      }

      &:hover {
        i {
          color: $red;
        }
      }

      @media(max-width: $screen-sm-min) {
        @include square(18px);

        i {
          @include square(18px);
          color: $headr_social;
          font-size: $font-md;
        }
      }
    }
  }
}

// Blog Listing Hero
.blog-listing-hero {
  position: relative;
  margin-bottom: 10px;

  @media(min-width: $screen-sm-min) {
    min-height: 600px;
  }

  @media(max-width: $screen-sm-min) {
    margin-bottom: 0;
  }

  .blog-item {
    @media(min-width: $screen-sm-min) {
      position: absolute;
      @include size(50%, 100%);
      right: 0;
      top: 0;
      padding-left: 4px;

      .blog-item-inner {
        position: relative;
        overflow: hidden;
        height: 100%;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          @include square(100%);
          z-index: 1;
          background: rgba(0, 0, 0, 0);
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 43%, rgba(0, 0, 0, 0.74) 72%, rgba(0, 0, 0, 0.75) 73%, rgba(0, 0, 0, 0.93) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(43%, rgba(0, 0, 0, 0.4)), color-stop(72%, rgba(0, 0, 0, 0.74)), color-stop(73%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0.93)));
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 43%, rgba(0, 0, 0, 0.74) 72%, rgba(0, 0, 0, 0.75) 73%, rgba(0, 0, 0, 0.93) 100%);
          background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 43%, rgba(0, 0, 0, 0.74) 72%, rgba(0, 0, 0, 0.75) 73%, rgba(0, 0, 0, 0.93) 100%);
          background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 43%, rgba(0, 0, 0, 0.74) 72%, rgba(0, 0, 0, 0.75) 73%, rgba(0, 0, 0, 0.93) 100%);
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 43%, rgba(0, 0, 0, 0.74) 72%, rgba(0, 0, 0, 0.75) 73%, rgba(0, 0, 0, 0.93) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
        }

        .bg-img {
          position: absolute;
          left: 0;
          top: 0;
          @include square(100%);
          @include transition(transform 800ms);
        }

        &:hover {
          .bg-img {
            @include transition(transform 800ms);
            @include transform(scale(1.1));
          }
        }

        .blog-content {
          position: absolute;
          bottom: 0;
        }
      }
    }

    .blog-content {
      padding: 30px 60px 60px;

      @media(max-width: $screen-md-min) {
        padding: 30px 20px;
      }

      @media(max-width: $screen-sm-min) {
        padding: 20px 15px 35px;
      }
    }

    .outer_link {
      z-index: 3;
    }

    @media(max-width: $screen-sm-min) {
      .blog-item-inner {
        position: relative;

        .bg-img {
          min-height: 255px;
        }
      }
    }

  }

  .hero-content {
    padding: 190px 0 10px;

    h1 {
      padding-left: 15px;
      font-size: 45px;
      line-height: 54px;
      font-family: $ACaslonPro_fonts;
      font-weight: $semibold;
    }

    @media(max-width: $screen-sm-min) {
      padding: 70px 0 25px;

      h1 {
        font-size: 32px;
        line-height: 41px;
      }
    }
  }
}

// blog-details
.blog-details {
  @media(max-width: $screen-sm-min) {
    padding: 0;

    &:before {
      display: none;
    }

    .bg-img {
      position: inherit;
      min-height: 215px;
      top: 0;
    }

    .container {
      min-height: 100%;

      .content {
        position: inherit;
        padding: 20px 15px 0;

        h1 {
          color: $light_black;
          line-height: 41px;
          padding-bottom: 0;
          text-shadow: 0 0 0 #292929;
        }
      }
    }
  }
}
