
// custom-tab section
.custom-tab {
  position: relative;

  ul.nav-tabs {
    border-bottom: none;

    li {
      float: none;
      margin-bottom: 5px;

      a {
        border: none;
        padding: 15px 20px;
        padding-left: 40px;
        position: relative;
        border-radius: 0;
        color: $black;
        text-transform: $uppercase;
        font-family: $proxima_font;
        font-size: $font-sm;

        &:before {
          content: '\e906';
          font-family: 'icomoon' !important;
          position: absolute;
          font-size: $font-xs;
          left: 25px;
          top: 50%;
          @include transform(translateY(-50%));
          @include transition(all 0.25s ease-in);
          visibility: hidden;
          @include opacity(0);
          font-weight: bold;
        }

        &:hover,
        &:focus {
          border: none;
          @include box-shadow(7px 7px 14px rgba(103, 103, 130, 0.1));
          background-color: $white;
          text-shadow: 0 0 0 $black;
          // font-weight: $bold;

          &:before {
            left: 15px;
            visibility: visible;
            @include opacity(1);
          }
        }
      }

      &.active {
        a {
          border: none;
          @include box-shadow(7px 7px 14px rgba(103, 103, 130, 0.1));
          // @include box-shadow(0px 0px 20px rgba(35, 39, 65, 0.1));
          background-color: $white;
          text-shadow: 0 0 0 $black;
          // font-weight: $bold;

          &:before {
            left: 15px;
            visibility: visible;
            @include opacity(1);
          }
        }
      }
    }
  }

  .content {
    padding: 0 30px;
    text-align: center;

    h2 {
      margin-bottom: 20px;
    }

    p {
      line-height: 1.4;
      margin-bottom: 15px;
      font-family: $proxima_font;
      font-size: $font-md;
    }

    span {
      font-family: $proxima_font;
      font-size: $font-md;
    }

    a.btn {
      text-transform: $uppercase;
      font-size: $font-sm;
      font-family: $proxima_font;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $ACaslonPro_fonts;
      font-weight: $semibold;
    }
  }
}

.custom-accordian {
  padding: 0 15px;

  .panel {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $light_gray;

    .panel-heading {
      padding: 0;
      border: none;
      border-radius: 0;

      .panel-title {
        width: 100%;

        a {
          display: block;
          padding: 15px 20px 15px 0;
          position: relative;
          text-transform: $uppercase;
          font-family: $proxima_font;
          font-size: $font-md;
          text-shadow: 0 0 0 $black;

          &:hover,
          &:focus {
            color: $black;
            text-shadow: 0 0 0 $black;
          }

          &.collapsed {
            text-shadow: none;
          }

          &:before {
            content: '\e906';
            position: absolute;
            font-family: $ft-icomoon;
            right: 10px;
            top: 15px;
            @include transform(rotate(-90deg));
            color: $black;
            font-weight: bold;
            font-size: $font-xs;
            @include transition(all 0.25s ease-in-out);
          }

          &.collapsed:before {
            @include transform(rotate(90deg));
          }
        }
      }
    }

    .panel-body {
      padding-left: 0;
      text-align: center;

      p {
        margin-bottom: 20px;
        font-family: $proxima_font;
        font-size: $font-md;
      }

      span {
        font-size: $font-sm;
        display: block;
        text-transform: $uppercase;
        margin-bottom: 15px;
        font-family: $proxima_font;
        font-weight: $semibold;
        color: $black;
      }

      a.btn {
        height: 53px;
        border: 1px solid $black;
        text-transform: $uppercase;
        padding: 14px 15px;
        font-size: $font-md;
        color: $black;
        min-width: 250px;

        &:hover,
        &:focus,
        &.actiev:focus {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}

// custom-tab section
// cta-section
.cta-section {
  position: relative;
  padding: 90px 20px;

  .cta-outer {
    max-width: 100%;

    a {
      padding: 28px 30px;
      display: inline-block;
      border: 1px solid $borde_color;
      margin: 0;
      font-family: $ACaslonPro_fonts;
      font-weight: $semibold;
      min-width: 387px;
      height: 80px;
      position: relative;
      @include transition(all 0.20s ease-in-out);

      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        background-color: $black;
        @include transition(all 0.25s ease-in-out);
        @include opacity(0);
        visibility: hidden;
        top: 0;
        left: 0;
      }

      &:hover {
        color: $white;

        &:before {
          width: 100%;
          @include opacity(1);
          visibility: visible;
        }
      }

      span {
        position: relative;
        z-index: 2;
      }

      @media(max-width: $screen-xs-min) {
        min-width: 280px;
        padding: 20px 30px;
        height: 60px;
        font-size: $heading3;
      }
    }
  }

  @media(max-width: $screen-sm-min) {
    padding: 50px 20px;
  }
}

// cta-section

// Banner cta
.banner-cta {
  min-height: 700px;

  @media(max-width: $screen-sm-min) {
    min-height: 100%;
    padding-top: 100px;
  }

  .bg-img {
    position: absolute;
    @include square(100%);
    left: 0;
    top: 0;
  }

  h3 {
    font-family: $proxima_font;
    font-weight: $medium;
    line-height: 36px;
    margin: 0;

    @media(max-width: $screen-sm-min) {
      font-size: $heading4;
    }
  }

  .row {
    min-height: 650px;

    @media(max-width: $screen-sm-min) {
      display: block;
      min-height: 100%;
    }
  }

  &:before {
    content: '';
    position: absolute;
    @include square(100%);
    left: 0;
    top: 0;
    z-index: 1;
    // background: rgba(0, 0, 0, 0.09);
    // background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.34) 55%, rgba(0, 0, 0, 0.35) 56%, rgba(0, 0, 0, 0.77) 100%);
    // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.09)), color-stop(55%, rgba(0, 0, 0, 0.34)), color-stop(56%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(0, 0, 0, 0.77)));
    // background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.34) 55%, rgba(0, 0, 0, 0.35) 56%, rgba(0, 0, 0, 0.77) 100%);
    // background: -o-linear-gradient(top, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.34) 55%, rgba(0, 0, 0, 0.35) 56%, rgba(0, 0, 0, 0.77) 100%);
    // background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.34) 55%, rgba(0, 0, 0, 0.35) 56%, rgba(0, 0, 0, 0.77) 100%);
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.34) 55%, rgba(0, 0, 0, 0.35) 56%, rgba(0, 0, 0, 0.77) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
    background: rgba(0, 0, 0, 0.26);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.38) 35%, rgba(0, 0, 0, 0.38) 36%, rgba(0, 0, 0, 0.5) 67%, rgba(0, 0, 0, 0.76) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.26)), color-stop(35%, rgba(0, 0, 0, 0.38)), color-stop(36%, rgba(0, 0, 0, 0.38)), color-stop(67%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.76)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.38) 35%, rgba(0, 0, 0, 0.38) 36%, rgba(0, 0, 0, 0.5) 67%, rgba(0, 0, 0, 0.76) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.38) 35%, rgba(0, 0, 0, 0.38) 36%, rgba(0, 0, 0, 0.5) 67%, rgba(0, 0, 0, 0.76) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.38) 35%, rgba(0, 0, 0, 0.38) 36%, rgba(0, 0, 0, 0.5) 67%, rgba(0, 0, 0, 0.76) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.38) 35%, rgba(0, 0, 0, 0.38) 36%, rgba(0, 0, 0, 0.5) 67%, rgba(0, 0, 0, 0.76) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  }

  .content {
    position: relative;
    z-index: 2;

    h3 {
      color: $white;
    }

    @media(max-width: $screen-sm-min) {
      padding-top: 50px;
    }
  }
}

// Banner cta
