 $header: #283e4a !default;
 $button-link: #1de6da;
 $mainbg: #f5f5f5; 
 $textPrimary: #444;
 $textheading: $textPrimary;
 $textSecondary:#999;
 $textOptional:#BCC0CB;
 $borderColor:#E2E7EF;
 $buttonBorder:#D1D1D1;
 $labelColor:#666;

 // Main color
 $white: #ffffff;
 $black: #000000;
 $light_black:#292929;
 $light_gray:#f5f5f5;
 $dark_perpal:#1f1720;
 $red:#ff0000;
 $hover:$red;
 $borde_color:#707070;
 $hero_border:#7e797f;
 $footer_border:#e8e8e8;
 $gray:#484848;
 $mid_gray:#646464;
 $dark_gray:#999999;
 $bullet_color:#4D4D4D;
 $course_ft_color:#3C3C3C;

// Typography
$heading1: 40px;
$heading2: 30px;
$heading3: 26px;
$heading4: 22px;
$heading5: 20px;
$heading6: 18px;

// Font size
$font-xs:12px;
$primary-fs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 20px;

// text-transform
$capitalize:capitalize;
$uppercase:uppercase;
$lowercase:lowercase;

// font-family 
$ft-icomoon:'icomoon';
$proxima_font: 'ProximaNova';
$bigCaslon_font: 'BigCaslon';
$helvetica_fonts:'Helvetica';
$ACaslonPro_fonts:'ACaslonPro';

// spacer
$ht-lg : 100px;
$ht-md : 80px;
$ht-sm : 60px;
$ht-xs : 50px;
$global-pd : 75px;

// font-weight
$thin:100; 
$light:300; 
$regular:400; 
$medium:500; 
$semibold:600; 
$bold:700; 
$wtblack:900; 

// Form
$input_field_height:50px;


